body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: inherit;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.bookmarks {
  background-color: #293449;
  color: #ffffff;
}
.bookmarks:hover {
  background-color: #212a3a;
}

.header-logo {
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}
.logo  {
  padding-top: 13px;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.form-search {
  padding-top: 12px;
}
.icon-search {
  background-color: #293449;
  border: 0;
  color: #f4f7f9;
}
.icon-search:hover {
  background-color: #212a3a;
}

.search {
  background-color: #293449;
  color: #ffffff;
  border: 0;
}
.search:hover {
  background-color: #212a3a;
}
.search:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
  font-family: Cuprum;
  font-size: 17px;
}

.marks {
  color: #ffffff;
}
.marks:focus {
  background-color: #161d29;
}
.marks-red {
  background-color: #ee3643;
  color: #ffffff;
  width: 150px;
  text-align: center;
  padding-top: 13px;
}
.marks-red:focus {
  background-color: #ca2c37;
}


.make-order {
  color: #ffffff;
  background-color: #63a63e;
}
.make-order:hover {
  background-color: #5fbb2d;
}
.make-order:focus {
  background-color: #518534;
}

.description {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.header-feedback li{
  list-style: none;
}

.tel-header a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: solid white;
}

.adress-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.site-navigation,
.user-navigation {
  list-style: none;
}


.user {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 25px;
}
.user:hover {
  color: #ee3643;
}
.user:focus {
  color: #b2b2b2;
}

.users-link {
  color: #32425c;
  text-decoration: underline;
}
.users-link-2 {
  padding-left: 32px;
}

.users-link:hover {
  color: #ee3643;
}

.cabinet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shoping-cart {
  color: #ffffff;
  background-color: #ee3643;
}

.shoping-cart:hover,
.shoping-cart:active {
  background-color: #ca2c37;
}

.main-navigation {
  background-color: #f4f7f9;
  padding-top: 22px 55px 23px 52px;
  margin: 0;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}
.breadcrumbs a{
  color: #000000;
  padding-right: 18px;
}

.page-title {
  display: flex;
  justify-content: space-between;
  height: 89px;
  background-color: #f2f6f8;
}
.title-perforator {
  font-size: 30px;
  line-height: 30px;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.filters {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter-title {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 18px;
}
.sortings {
  display: flex;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  margin-left: 20px;
}
.sorting {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 18px;
  padding-top: 12px;
}
.sorting-choice {
  display: flex;
  list-style: none;
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}
.by-price {
  color: #ee3643;
  padding-right: 71px;
}
.by {
  color: rgba(0, 0, 0, 0.3);
  padding-right: 71px;
}
.icon-up {
  color: #ee3643;
  padding-right: 21px;
}

.sorting-options {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.price-range {
  height: 80px;
  background-color: #f7f3ec;
  text-align: center;
}
.range {
  margin-top: 30px;
}
.limit-range {
  display: flex;
  margin-top: 9px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}
.amount {
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  text-align: center;
}
.fieldset {
  border: 0;
}
.filter-input-checkbox {
  padding-left: 8px;
}

.about {
  display: flex;
}
.about-us {
  width: 519px;
  margin-right: 120px;
}
.about-us1 {
  width: 300px;
}

.subtitle {
  font-size: 30px;
  line-height: 30px;
}

.text {
  font-size: 13px;
  line-height: 24px;
}

.red-about {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 86px;
}
.about-more {
  width: 220px;
  height: 38px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  background-color: #ee3643;
}
.more {
  display: block;
  padding-top: 11px;
  color: #ffffff;
}
.about-more1 {
  width: 300px;
  height: 38px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  background-color: #ee3643;
}
.more1 {
  display: block;
  padding-top: 11px;
  color: #ffffff;
}

.list {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.producer-title {
  font-weight: bold;
}
.producer {
  font-weight: normal;
}
.producer,
.power {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}
.show {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
}


.filter-option:disabled {
  color: #b8b8b8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 21px;
  margin-right: 20px;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item-title {
  font-size: 18px;
}

.old-price {
  font-size: 17px;
  color: #999999;
  text-align: center;
}

.new-price {
  font-size: 17px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
}

.buy {
  line-height: 14px;
  color: #ffffff;
  background-color: #63a63e;
}

.buy:hover {
  background-color: #5fbb2d;
}
.buy:active {
  background-color: #518534;
}

.to-bookmarks {
  line-height: 14px;
  color: #32425c;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #63a63e;
}

.to-bookmarks:hover {
  color: #32425c;
  background-color: #ffffff;
  border-color: #32425c;
}

.to-bookmarks:active {
  color: #c1c6ce;
  background-color: #ffffff;
  border-color: #c1c6ce;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.appointment {
  display: none;
}

.to-get {
  display: none;
}

/* ----- Сеточные стили ----- */


.container-top {
  width: 100%;
  background-color: #293449;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 10px;
  max-width: 960px;
  margin: 0 auto;
}

.bookmarks {
  display: flex;
  height: 42px;
}

.form-search {
  width: 287px;
  margin: 0 auto;
}

.search {
  display: inline-block;
}

.marks {
  display: inline-block;
  padding: 12px;
}

.make-order {
  display: inline-block;
  width: 150px;
  padding: 12px;
  text-align: center;

}

.container-undermarks {
  min-height: 278px;
  width: 100%;
  background-color: #f4f7f9;
}


.average-head {
  display: flex;
  padding-top: 46px;
  justify-content: space-between;
}


.description {
  width: 196px;
  margin-left: 53px;
}

.tel-header {
  width: 270px;
  height: 45px;
}

.user-navigation {
  display: flex;l
}
.lk {
  display: flex;
}
.user-navigation-catalog {
  display: flex;
  min-width: 299px;
  min-height: 45px;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
}
.user-navigation  ul {
  list-style: none;
}
.icon-user {
  padding: 13px 13px;
}
.user-name {
  padding: 13px;
}
.user-name a {
  color: #000000;
}
.icon-login {
  padding-right: 13px;
}
.user {
  display: inline-block;
}
.first {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.icon-login-catalog {
  padding: 13px 10px 14px 39px;
}

.my-orders {
  display: flex;
  list-style: none;
}

.site-navigation {
  display: flex;
  align-items: center;
  height: 60px;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 1;
  justify-content: space-between;
  text-align: center;
  padding-right: 55px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.menu-white {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 60px;
}

.menu-1line {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 20px;
}

.menu ul {
  list-style: none;
}

.menu-line2 {
  display: flex;
  justify-content: space-between;
}

.figure {
  display: flex;
  width: 620px;
  height: 266px;
}

.menu4-5 {
  display: flex;
}

.menu-1 {
  display: flex;
  height: 123px;
  width: 300px;
  background-color: #ffbf47;
}
.menu-2 {
  display: flex;
  height: 123px;
  width: 300px;
  background-color: #3bbce3;
}
.menu-3 {
  display: flex;
  height: 123px;
  width: 300px;
  background-color: #dc91d8;
}
.menu-4 {
  display: flex;
  height: 123px;
  width: 300px;
  background-color: #8ed78f;
  margin-bottom: 20px;
}
.menu-5 {
  display: flex;
  height: 123px;
  width: 300px;
  background-color: #ffc047;
}

.menu-title {
  width: 111px;
  height: 22px;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
  padding-top: 26px;
  padding-left: 23px;
  padding-right: 79px;
  padding-bottom: 15px;
}

.menu-icon {
  width: 44px;
  height: 65px;
  padding-top: 31px;
}

.menu-description {
  width: 135px;
  height: 38px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 53px;
  padding-bottom: 22px;
  margin: 12px 24px;
}

.slider-image {
  width: 620px;
  height: 266px;
  object-fit: contain;
}
.figure-title {
  width: 94px;
  height: 30px;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.container-goods {
  display: flex;
  justify-content: space-between;
  height: 89px;
  background-color: #f9f5f0;
  margin-top: 53px;
  margin-bottom: 21px;
}
.popular-goods {
  min-width: 260px;
  height: 21px;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;
}
.all-goods {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 24px;
  text-align: center;
}
.goods {
  display: inline-block;
  font-family: Cuprum;
  font-size: 14px;
  color: #ffffff;
  padding-top: 10px;

}

.perforators {
  display: flex;
  justify-content: space-between;
}

.perforator-card {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  min-height: 318px;
  text-align: center;
}

.bosch {
  width: 155px;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  margin: 12px 32px;
}

.bosch-del {
  width: 67px;
  height: 12px;
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
}

.bosch-red {
  width: 65px;
  height: 12px;
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.item-button {
  width: 141px;
  height: 38px;
  object-fit: contain;
}
.manufacturers ul {
  list-style: none;
}

.manufacturers {
  display: flex;
}

.manufacturers-img  {
  display: flex;
  width: 220px;
  height: 145px;
  text-align: center;
  align-items: center;
}

.service-back {
  width: 100%;
  min-height: 522px;
  background-color: #f4f7f9;
}

.service-container {
  padding-top: 68px;
  padding-bottom: 99px;
}

.tittle-service {
  width: 104px;
  height: 21px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}

.service-description {
  width: 398px;
  height: 37px;
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 74px;
}

.service-offer ul {
  list-style: none;
}

.service-container2 {
  display: flex;
}

.service-offer {
  margin: 0;
}
.offer1 {
  width: 240px;
  height: 61px;
  background-color: #ffffff;
  text-align: left;
  padding-left: 22px;
}
.offer1 a {
  color: #32425c;
}

.offer2 {
  width: 240px;
  height: 61px;
  background-color: #32425c;
  text-align: left;
  padding-left: 22px;
  padding-top: 20px;
}
.offer2 a {
  color: #ffffff;
}

.tittle-delivery {
  font-family: Cuprum;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  padding-left: 80px;
}

.delivery-description {
  width: 275px;
  height: 83px;
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 34px;
  padding-left: 80px;
}

.delivery {
  width: 468px;
  height: 261px;
  object-fit: contain;
  background-color: #f4f7f9;
}

.footer-nav-back {
  width: 100%;
  height: 193px;
  background-color: #32425c;
}

.footer-contacts-back {
  width: 100%;
  height: 107px;
  background-color: #293449;
}

.footer-nav {
  display: flex;
}

.footer-nav2 {
  display: flex;
}

.footer-contacts {
  display: flex;
  padding-top: 25px;
}

.logo-footer {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
}
.logo-src {
  padding-top: 20px;
}

.footer-site-navigation {
  display: flex;
  width: 720px;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 1;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  padding-top: 42px;
  margin: 0;
}
.footer-site-navigation a{
  color: #ffffff;
}
.sentence {
  padding-top: 32px;
  justify-content: space-around;
}
.sentence a{
  color: #ffda96;
}

.footer-adress {
  width: 322px;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
  padding-top: 32px;
  margin: 0;
}

.desc-footer {
  min-width: 228px;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.networks {
  display: flex;
  padding-left: 161px;
  padding-right: 119px;
  list-style: none;
}
.footer-social {
  padding-right: 26px;
}

.footer-feedback {
  text-align: left;
  padding-top: 15px;
}
.footer-feedback li{
  color: #ffffff;
}
.footer-feedback a {
  color: #ffda96;
}


/*
.main-navigation {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  background-color: #f4f7f9;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: #8e939c;
}
