body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: inherit;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.bookmarks {
  background-color: #293449;
  color: #ffffff;
}
.bookmarks:hover {
  background-color: #212a3a;
}

.logo  {
  background-color: #ee3643;
  font-size: 16px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.icon-search {
  background-color: #293449;
}

.icon-search:hover {
  background-color: #212a3a;
}

.search {
  color: #ffffff;
  background-color: #293449;
  outline: none;
  font-family: Cuprum;
  border: none;
}
.search:hover {
  background-color: #212a3a;
}
.search:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
  font-family: Cuprum;
  font-size: 17px;
}

.marks {
  color: #ffffff;
}
.marks:focus {
  background-color: #161d29;
}

.make-order {
  color: #ffffff;
  background-color: #63a63e;
}
.make-order:hover {
  background-color: #5fbb2d;
}
.make-order:focus {
  background-color: #518534;
}

.description {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.header-feedback li{
  list-style: none;
}

.tel-header a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: solid white;
}

.adress-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.site-navigation,
.user-navigation {
  list-style: none;
}


.user {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 25px;
}
.user:hover {
  color: #ee3643;
}
.user:focus {
  color: #b2b2b2;
}


.user-name a {
  color: #000000;
  background-color: #ffffff;
}

.users-link {
  color: #32425c;
  text-decoration: underline;
}

.users-link:hover {
  color: #ee3643;
}

.cabinet a:active {
  color: #b2b2b2;
}

.shoping-cart {
  color: #ffffff;
  background-color: #ee3643;
}

.shoping-cart:hover,
.shoping-cart:active {
  background-color: #ca2c37;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  background-color: #f4f7f9;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs {
  color: #000000;
}

.about-us {
  background-color: #ffffff;
}

.subtitle {
  font-size: 30px;
  line-height: 30px;
}

.text {
  font-size: 13px;
  line-height: 24px;
}

.more {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.list {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.producer,
.power {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}


.filter-option:disabled {
  color: #b8b8b8;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item-title {
  font-size: 18px;
}

.old-price {
  font-size: 17px;
  color: #999999;
  text-align: center;
}

.new-price {
  font-size: 17px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
}

.buy {
  line-height: 14px;
  color: #ffffff;
  background-color: #63a63e;
}

.buy:hover {
  background-color: #5fbb2d;
}
.buy:active {
  background-color: #518534;
}

.to-bookmarks {
  line-height: 14px;
  color: #32425c;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #63a63e;
}

.to-bookmarks:hover {
  color: #32425c;
  background-color: #ffffff;
  border-color: #32425c;
}

.to-bookmarks:active {
  color: #c1c6ce;
  background-color: #ffffff;
  border-color: #c1c6ce;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  color: #929caa;
}

.link a:active {
  color: #998a6e;
}

.main-footer {
  color: #ffffff;
  background-color: #32425c;
}

.desc-footer {
  font-size: 16px;
  line-height: 18px;
}

.step-footer {
  color: #ffffff;
  background-color: #293449;
}

.link a{
  color: #ffd180;
}

.footer-navigation a {
  color: #ffffff;
}

.step-footer a{
  color: #ffd180;
}

.step-footer a:hover {
  text-decoration: underline;
}

.step-footer a:active {
  color: #ee3643;
}

.footer-social a{
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.appointment {
  display: none;
}

.to-get {
  display: none;
}

/* ----- Сеточные стили ----- */


.container-top {
  width: 100%;
  background-color: #293449;
  margin: 0 auto;
}

.bookmarks {
  display: flex;
  justify-content: flex-end;
  max-width: 940px;
  height: 42px;
  margin: 0 auto;
}

.logo {
  width: 220px;
  height: 47px;
}

.search {
  margin-left: 17px;
  margin-right: 197px;
  margin-top: 14px;
  margin-top: 16px;
}

.marks {
  display: inline-block;
  padding: 12px;
}

.make-order {
  display: inline-block;
  width: 150px;
  padding: 12px;
  text-align: center;

}

.container-undermarks {
  min-height: 278px;
  background-color: #f4f7f9;
}


.average-head {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}


.description {
  min-width: 196px;
  min-height: 60px;
  padding: 41px 53px;
}

.tel-header {
  width: 270px;
  height: 45px;
  margin-top: 44px;
  margin-bottom: 21px;
  margin-right: 69px;
}

.user-navigation {
  display: flex;
  width: 100%;
}

.user-navigation  ul {
  list-style: none;
}

.user-navigation li {
  margin-right: 10px;
}

.lk {
  display: flex;
}

.user {
  display: inline-block;
  max-height: 45px;
  margin: 44px auto;
}

.first {
  display: flex;
}

.site-navigation {
  display: flex;
  width: 940px;
  max-height: 60px;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 26px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 0;
}

.about {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.about-subtitle {
  width: 519px;
  padding-top: 89px;
  padding-bottom: 86px;
  padding-right: 120px;
}

.about-contact {
  width: 519px;
  padding-top: 89px;
  padding-bottom: 86px;
}

.container-footer {
  width: 100%;
  min-height: 300px;
  background-color: #32425c;
}

.first-footer {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.container-step-footer {
  width: 100%;
  min-height: 107px;
  background-color: #293449;
}

.second-footer {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.footer-navigation {
  display: flex;
}

.logo-footer  {
  background-color: #ee3643;
  font-size: 16px;
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-navigation-footer {
  display: flex;
  justify-content: space-around;
}

.adress-footer {
  width: 322px;
  padding-top: 100px;
  padding-left: 3px;
  padding-bottom: 43px;
}
